.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #0d1418;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chat-panel {
    width: 550px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.chat-box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #1e2428;
}

.message-field {
    border-radius: 50px;
    padding: 10px;
    background-color: #33383b;
    color: rgba(241, 241, 242, 0.95);

    border: none;
    outline: none;
}

.message-field::placeholder {
    color: #858789;
}

.messages {
    padding: 5px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.messages > *:not(:last-child) {
    display: block;
    margin-bottom: 5px;
}

.message {
    display: flex;
    flex-direction: column;

    width: max-content;

    font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial,
        Ubuntu, Cantarell, Fira Sans, sans-serif;
}

.you {
    margin-left: auto;
}

.you > .message-text {
    background-color: #054740;
}

.you > .message-text > .message-sender {
    display: none;
}

/* .message > * {
    margin-bottom: -2px;
} */

.message-sender {
    font-weight: 500;
    font-size: 12.8px;
    line-height: 19px;
    margin-bottom: 5px;
    color: #e49d72;
}

.message-text {
    background-color: #262d31;
    border-radius: 7.5px;
    color: rgba(241, 241, 242, 0.95);

    /* display: block; */
    width: max-content;
    height: max-content;
    word-wrap: break-word;

    max-width: 475px;
    padding: 5.5px;
    font-size: 14px;
}

.message-date {
    color: rgba(241, 241, 242, 0.63);
    font-size: 11px;
}

/* .name-field {
    border: none;
    white-space: pre;
}

.field-canvas {
    visibility: hidden;
    pointer-events: none;
} */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.1);
}
